<html>
<head>
  <title> Wall Post </title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
{% include 'nav.html' %}
<ul>
  {% for p in post %}
    <li>
      
      <!--   show img tag below only if p.photo_id does not equal None -->
      <!-- add drop down menu to sort by date, crime, or community event -->
      
      {% if p.photo_id != None %}
      <!-- use jinja to allow users to upload photos -->

        <div class="imgdiv"> <img src="static/uploads/{{ p.photo_id }}"/></div>
        {% endif %}
        <div class="textdiv">{{ p.post }}</div>
        {% if p.date != None %}
        <!-- add time to post -->
        <div class="textdiv">{{ p.date.strftime("%B %d, %Y") }}</div>
        {% endif %}
      
    </li>
  {% endfor %}

</ul>


</body>
</html>