<!DOCTYPE html>
<html>
<head>
     <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDm0Fjdvf3wC7nSA5dXuuj5b9yA6-K3HQ&callback=initMap"></script>


</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>


<script>

    function initialize() {
      var mapProp = {
        center: new google.maps.LatLng(37.773972,-122.431297),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }

    var marker = new google.maps.Marker({
          position: 37.773972,-122.431297
          map: map,
          title: 'Hello World!'
        });
    google.maps.event.addDomListener(window, 'load', initialize);

</script>


</body>

</html>