<html>
<head>
  <title> Wall Post </title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<ul>
  {% for p in post %}
    <li>
      
      <!--   show img tag below only if p.photo_id does not equal None -->

      {% if p.photo_id != None %}
        <div class="imgdiv"> <img src="static/uploads/c4.jpg"/></div>
        {% endif %}
        <div class="textdiv">{{ p.post }}</div>
        {% if p.date != None %}
        <div class="textdiv">{{ p.date.strftime("%B %d, %Y") }}</div>
        {% endif %}
      
    </li>
  {% endfor %}

</ul>


</body>
</html>