<html>
<head>
  <title> Wall Post </title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> 

<body style="background:rgb(104, 159, 56);">
<div class="background">


{% include 'navbar.html' %}



<div class="center col-xs-offset-8xxxx col-xs-4xxxxx">
<!-- added drop down menu  -->
<form action="/display_post" method="GET"> 


  Filter By:
  <div style="padding-bottom:5px" class="dropdown"> 
    <select name="type">
      <option value="Most Recent">Most Recent</option>
      <!-- if user selects neighborhood on make posts page, pre-select that neighborhood on display post -->
      <option value="Least Recent" {% if sort_type == "Least Recent" %}selected{% endif %}>Least Recent</option>
      <option value="Crime Alert" {% if sort_type == "Crime Alert" %}selected{% endif %}>Crime Alert</option>
      <option value="Community Event" {% if sort_type == "Community Event" %}selected{% endif %}>Community Event</option>
    </select>
  </div>

  Select a neighborhood:
  <div style="padding-bottom:5px" class="dropdown">
    <select name="neighborhood">
      <option value="All">All Neighborhoods</option>
      <!-- if user selects neighborhood on make posts page, pre-select that neighborhood on display post -->
      <option value="Mission" {% if location == "Mission" %}selected{% endif %}>Mission</option>
      <option value="Richmond" {% if location == "Richmond" %}selected{% endif %}>Richmond</option>
      <option value="Bernal Heights" {% if location == "Bernal Heights" %}selected{% endif %}>Bernal Heights</option>
      <option value="Haight Ashbury" {% if location == "Haight Ashbury" %}selected{% endif %}>Haight Ashbury</option>
      <option value="Noe Valley" {% if location == "Noe Valley" %}selected{% endif %}>Noe Valley</option>
    </select>
  </div>


  <input type="submit" class="button" value="Search">
  
</form>
</div>



{% for p in post %}

  <!-- add 3 posts in a row -->
  <!-- <div class="col-sm-4 textdiv"> -->


  <div class="postbox center" style="background: rgba(255, 255, 255, 0.3);">
  <div class="contentbox">

    <!--   show img tag below only if p.photo_id does not equal None -->
    {% if p.photo_id != None %}
    <!-- use jinja to allow users to upload photos -->
    <div class="imgdiv" style="width:400px"> <img src="static/uploads/{{ p.photo_id }}"style="width:100%"/></div>
    {% endif %}

    <div class="posttext {% if p.photo_id != None %}avoidpic{% endif %}">{{ p.post }}</div>
    {% if p.date != None %}
    <!-- add date and time to post -->
    <div class="postdate {% if p.photo_id != None %}avoidpic{% endif %}">
      {{ p.date.strftime("%B %d, %Y") }} &nbsp;&nbsp;&nbsp;{{ p.date.strftime("%I:%M %p") }} 
    </div>
    {% endif %}
  
  </div>
  </div>



{% endfor %}


</div>
</div>

</div>

</body>
</html>
