<html>
<head>
    <title> User Registration </title>
</head>
<body>
  <form action="/process_registration" method="POST">
    <p> User Registration Form </p>

        <div>
            <label>Username:
                <input type="username" name="username" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div>
            <label>First Name:
                <input type="firstname" name="firstname" required>
            </label>
        </div>

        <div>
            <label>Last Name:
                <input type="lastname" name="lastname" required>
            </label>
        </div>
        <div>
            <label>Zipcode:
                <input type="zipcode" name="zipcode" required>
            </label>
        </div>


        <div>
            <input type="submit" value="Submit">
        </div>

    </form>

</body>
</html>