<html>
<head>
    <title>Safety Tips</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Andada" rel="stylesheet">
</head>
<body style="background:rgb(104, 159, 56);">


{% include 'navbar.html' %}
<div style="overflow:hidden; margin-left:100px">
  <div class="" style="float:left;">
    <img src="/static/uploads/spotcrimelogo.jpg" alt="Crime Icon" style="width:128px;height:128px;">
  </div> 
  <div style="font-size:28px; margin-top:35px; margin-left:150px"> Personal Safety Tips </div>
</div>

<div class="safety_tips_div">
    <div class="individual_tip" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">Strangers</div>
    If anyone follows you, look confident and let him or her know you are aware of their presence. Don't be polite or engage in conversation.If they continue to follow you, cross the street and/or change directions.
    </div>
  
    <div class="individual_tip center" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">Call Attention To Yourself</div>
    Trust your instincts.  If you feel uncomfortable or threatened by another person(s), seek help immediately.  A whistle is a great device to have when you need to call attention to yourself
    </div>

    <div class="individual_tip center" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">Stay In Current Location As Much As Possible</div>
    NEVER allow yourself to be removed to a different location.
     If you are forced into a vehicle, try to jump from it when stopped for red lights or in traffic.If all else fails, try to force the vehicle into an accident.If locked in a car trunk, try to open the lock from the inside or disable the tail lights hoping to bring about a traffic stop.If stopped by police, make a lot of noise so they know you are there.
     </div>

    <div class="individual_tip center" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">When To Call Police</div>
    Don’t try to call the police until the threat is over; spend your energy screaming, fighting and trying to get away, then call the police. 
    </div>

    <div class="individual_tip center" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">Home Safety</div>
    At home,be cautious and contemplate the potential consequences when considering features such as privacy fences which obstruct the view of your home or property from the “extra eyes” of neighbors and police.
    </div>

    <div class="individual_tip center" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">Educate Children</div>
    With children, play the “what if” game: What if we got separated here at the store, who would you ask for help? Quizzing and practice actually builds a “script” in their brains so they have something useful to reference during stressful situations.
    </div>

    <div class="individual_tip center" style="background: rgba(255, 255, 255, 0.3);">
    <div class="tip_header">Pokemon Go</div>
    Don’t play the game alone. Have another person with you to help keep a look out for potential dangers. If you absolutely must “catch them all” while alone, be sure to take frequent breaks to scan the area and people around you.
  </div>
  

</div>
</body>
</html>


<!-- Safety Tips Resources
http://www.aacc.edu/publicsafety/prevention.cfm
http://www.cityofdayton.org/departments/police/Pages/crimetips.aspx
http://www.missionstation.org/personal-safety.html -->



